<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Contact - GLOBAL COACHES UG Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
    <style type="text/css">
<!--
.style1 {font-size: 16}
.style2 {
	color: #316E66;
	font-weight: bold;
}
.style3 {color: #000000}
.style4 {
	font-size: 16px;
	color: #000000;
}
-->
    </style>
</head>
<body>
	<div id="background">
		<div id="page">
			<div id="header">
				<div id="logo">
					<a href="index.html"><img src="images/globallogo.png" alt="LOGO" height="112" width="118"></a>
				</div>
				<div id="navigation">
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>

            <li>
              <a href="book.html">Book</a>
            </li>
            <li>
              <a href="lugage.html">Luggage</a>
            </li>
            
            <li class="selected">
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
			</div>
			<div id="contents">
				<div class="box">
					<div>
					  <div id="contact" class="body">
						  <h1 align="center" class="contact"><strong>Contact</strong> US </h1>
							<h2 align="center" class="contact"><strong>GLOBAL COACHES UG</strong></h2>
							  <table width="800" border="0" cellpadding="0" cellspacing="0" bgcolor="yellow">
    <tr>
    <td width="53" height="31">&nbsp;</td>
    <td width="155">&nbsp;</td>
    <td width="95">&nbsp;</td>
    <td width="373" rowspan="3" valign="top">
							<form name='feedbackForm' method="POST" action="contac.php"><div class="form-group">
	              <label>Your Name</label>
										    <input type="text" name="name" class="form-control" id="inputText" placeholder="Your Name" required>
							  </div>
										<div class="form-group">
										    <label>Your Email</label>
										    <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Your Email" required>
										</div>
										<div class="form-group text1">
										    <label>Feedback:</label>
										    <textarea class="inputTextarea" name="feedback" rows="4" class="form-control" ng-model='feedback' placeholder="Please write your Feedback here" required></textarea>
										</div>
							  <div class="wrapper">
											<button type="submit" class="btn btn-primary" ng-click="performValidation()" name='submit'>Submit Feedback</button>
						      </div>
						  </form>
						   <td width="400"></td>
						  </table>
						    &nbsp;
							<h2 class="style3">Address:</h2>
						<p class="style1">							  Bakuri Bus Terminall,<br>
						  P.O.BOX, 1032.<br>
						  Kampala,<br>
					    Uganda </p>
						<h2 class="style1"><span class="style2">Tel.No:</span><br>
						  <span class="style4">+256772444438<br>
						  +256765244434                        </span></h2>
						<p>&nbsp;</p>
					  </div>
									  <p>&nbsp;</p>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<ul class="navigation">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
              			<a href="book.html">Book</a>
            		</li>
					<li>
						<a href="lugage.html">luggage</a>
					</li>
					
					<li class="active">
						<a href="contact.html">Contact</a>
					</li>
				</ul>
				<div id="connect">
					<a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a> <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a> <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
				</div>
			</div>
			<p>
				© 2022 GLOBAL COACHES
			</p>
		</div>
	</div>
</body>
</html>